<template>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">
        <div v-if="!info" style="display: flex; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
            <v-progress-circular
                :size="75"
                :width="5"
                indeterminate
                color="primary"
                transition="slide-x-transition"
                
            ></v-progress-circular>
        </div>
        <v-container fluid v-else> 
            <v-row dense>
                <v-col>
                    <v-card 
                        min-width="400px"
                        flat
                        color="primary"
                        class="rounded-lg">
                        <v-card-title>
                            Enabled modules
                        </v-card-title>
                        <v-card-text class="text-left">
                            <v-list color="background" class="rounded-lg">
                                <v-list-item
                                    v-for="(mod, index) in info.modules"
                                    :key="index"
                                >
                                    <v-list-item-avatar class="mx-0 ml-2">
                                        <v-avatar :color="mod.color" size="16">
                                        </v-avatar>
                                    </v-list-item-avatar>
                                    <v-list-item-content class="text-left">
                                        <v-list-item-title v-text="mod.display_name"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card 
                        min-width="400px"
                        flat
                        color="primary"
                        class="rounded-lg">
                        <v-card-title>
                            Managers
                        </v-card-title>
                        <v-card-text class="text-left">
                            <v-list color="background" class="rounded-lg">
                                <v-list-item
                                    v-for="(manager, index) in info.managers"
                                    :key="index"
                                >
                                    <v-list-item-avatar>
                                        <v-img
                                            :alt="`${manager.display_name} avatar`"
                                            :src="manager.avatar_url"
                                        ></v-img>
                                    </v-list-item-avatar>

                                    <v-list-item-content>
                                        <v-list-item-title v-text="manager.display_name"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card 
                        min-width="400px"
                        flat
                        color="primary"
                        class="rounded-lg">
                        <v-card-title>
                            Guild's selected language
                        </v-card-title>
                        <v-card-text class="text-left">
                            <span class="text-subtitle-1 text-capitalize"> {{ info.language }} </span>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            guild: {},
            info: null
        }
    },
    mounted() {
        let parse_data = (fl) => {
            if(fl) {
                let item = window.localStorage.getItem("selected-guild");
                if(item) {
                    item = JSON.parse(item);
                    this.guild = item;

                    this.$sawaya.get_guild_info(this.guild.guild_id, (data) => {
                        if(data) {
                            this.info = data;
                        } else {
                            this.try_login(parse_data);
                        }
                    })
                }
            }
        }

        parse_data(true);
    },
    computed: {
        theme(){
            return (this.$vuetify.theme.dark) ? 'dark' : 'light'
        }
    }
}
</script>