<template>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}" fullscreen>
        <v-layout align-center justify-center fill-height>
            <v-card 
                min-width="400px"
                flat
                color="primary"
                :class="`rounded-lg`">
                <v-card-title>
                    <v-spacer></v-spacer>
                    Mover
                    <v-spacer></v-spacer>
                </v-card-title>
            </v-card>
        </v-layout>
    </v-app>
</template>

<script>
export default {
    mounted() {
        this.panel_check_if_accessible("mover_module");
    },
    computed: {
        theme(){
            return (this.$vuetify.theme.dark) ? 'dark' : 'light'
        }
    }
}
</script>