<template>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">
        <v-layout align-center justify-center fill-height>
            <v-progress-circular
                :size="50"
                indeterminate
                color="accent"
            >
              
            </v-progress-circular>
        </v-layout>
    </v-app>
</template>

<script>
export default {
    mounted() {
        if(!window.localStorage.getItem("session")) {
            this.$router.push("/login")
        } else {
            this.$router.push("/panel")
        }
    },

    computed:{
        theme(){
            return (this.$vuetify.theme.dark) ? 'dark' : 'light'
        }
    }
}
</script>