<template>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">
        <v-container full-width fill-height> 
            <v-row justify="center">
                <v-progress-circular
                    v-show="items.length <= 0"
                    :size="75"
                    :width="5"
                    indeterminate
                    color="primary"
                    transition="slide-x-transition"
                ></v-progress-circular>
                <v-col xs=12 md=2 lg=2 xl=2 v-for="(item, index) in items" :key="index">
                    <v-card ripple @click="item_click(item)" color="primary" flat width="170" class="ma-auto rounded-lg">
                        <div height="200px">
                            <v-avatar v-if="item.logo_url" color="primary" size="96" class="ma-4">
                                <img :src="item.logo_url" :alt="item.acronym">
                            </v-avatar>
                            <v-avatar v-else color="background" size="96" class="ma-4">
                                <span class="white--text text-h4">{{ item.acronym }}</span>
                            </v-avatar>
                        </div>
                        <v-card-text primary-title>
                            <span class="text-subtitle-1"> {{ item.display_name }} </span>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>

        <div style="position: fixed; width: 100%; bottom: 0%">
            <v-alert 
                type="error"
                :value="failed_to_login"
                class="ma-6" 
                transition="slide-y-reverse-transition"
                align-end>
                Failed to connect to websocket... Redirecting back to Login page
            </v-alert>
        </div>
    </v-app>
</template>

<script>
    export default {
        data() {
            return {
                failed_to_login: false,

                items: [],
            }
        },
        mounted() {
            let parse_data = (logged_in) => {
                if(logged_in) {
                    let guilds = this.$sawaya.session.guilds;

                    guilds.forEach(element => {
                        element.acronym = element.display_name.match(/[\p{Alpha}\p{Nd}]+/gu)
                                                            .reduce((previous, next) => previous + ((+next === 0 || parseInt(next)) ? parseInt(next): next[0] || ''), '')
                                                            .toUpperCase();
                    })

                    this.items = guilds;
                }
            }

            this.try_login(parse_data);
        },

        methods: {
            item_click(item){
                window.localStorage.setItem("selected-guild", JSON.stringify(item));
                this.$router.push("/panel");
            }
        },

        computed: {
            theme(){
                return (this.$vuetify.theme.dark) ? 'dark' : 'light'
            }
        }
    }
</script>