<template>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">
        <div style="position: fixed; width: 100%; top: 0%">
            <v-alert 
                type="success"
                :value="login_result == 'success'"
                class="ma-6" 
                transition="slide-y-transition"
                align-end>
                Success... Proceeding...
            </v-alert>

            <v-alert 
                type="error"
                :value="login_result == 'failure'"
                class="ma-6" 
                transition="slide-y-transition"
                align-end>
                Failed to authorize with discord... Try again later
            </v-alert>
        </div>

        <v-layout align-center justify-center fill-height>
            <v-card
                min-width="400px"
                flat
                color="primary"
                :class="`rounded-lg`"
            >
                <v-card-title>
                    <v-spacer></v-spacer>
                    Sawaya Panel
                    <v-spacer></v-spacer>
                </v-card-title>

                <v-card-subtitle 
                    class="text-center"
                >
                    Authorize to access
                </v-card-subtitle>

                <v-card-actions>
                    <v-btn
                        text
                        width="100%"
                        @click="login"
                    >
                        Login with Discord
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-layout>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            login_result: null
        }
    },

    mounted() {
        console.log(this.$route);

        if(this.$route.query.result) {
            this.login_result = this.$route.query.result;

            setTimeout(() => {
                this.login_result = null;
            }, 5000);
        }

        if(this.$route.query.session) {
            let session_key = this.$route.query.session;
            window.localStorage.setItem("session", session_key);
            this.$sawaya.set_session(session_key, () => {
                this.$router.push({
                    name: 'Guild Selection'
                });
            });
        }
    },

    methods: {
        login() {
            window.location = "https://discord.com/api/oauth2/authorize?client_id=875800382410981398&redirect_uri=http%3A%2F%2F127.0.0.1%3A8020%2Fauth&response_type=code&scope=identify%20guilds";
        }
    },

    computed: {
        theme(){
            return (this.$vuetify.theme.dark) ? 'dark' : 'light'
        }
    }
}
</script>