<template>
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">
        <v-navigation-drawer
            permanent
            app
            bottom
            expand-on-hover
            color="primary"
            class="text-left"
        >
            <v-list>
                <v-list-item class="px-2">
                    <v-list-item-avatar>
                        <v-avatar v-if="guild.logo_url" color="primary" size="38" class="ma-0">
                                <img :src="guild.logo_url" :alt="guild.acronym">
                        </v-avatar>
                        <v-avatar v-else color="background" size="38" class="ma-0">
                            <span class="white--text text-h6">{{ guild.acronym }}</span>
                        </v-avatar>
                    </v-list-item-avatar>
                </v-list-item>

                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="text-h6">
                            {{ guild.display_name }}
                        </v-list-item-title>
                        <v-list-item-subtitle class="text-subtitle-2">
                            Currently selected guild
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-list nav dense fill-height>
                <v-list-item class="px-0">
                    <v-list-item-content>
                        <v-list-item link @click="dashboard">
                            <v-list-item-icon>
                                <v-icon>mdi-view-dashboard</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>Dashboard</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item v-if="!modules" class="px-2">
                            <v-list-item-icon>
                                <v-progress-circular
                                    indeterminate
                                    color="white"
                                    width="2"
                                    size="24"
                                ></v-progress-circular>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title> Loading modules... </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>


                        <v-list-item v-for="(mod, index) in modules" :key="index" link @click="navigate_to_module(mod.route)">
                            <v-list-item-icon>
                                <v-icon> {{ mod.icon }} </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title> {{ mod.name }} </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <template v-slot:append>
                <v-list nav dense>
                    <v-list-item link @click="go_back">
                        <v-list-item-icon>
                            <v-icon>mdi-logout-variant</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>Back to guild list</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </template>
        </v-navigation-drawer>

        <v-main>
            <v-scroll-x-transition mode="out-in">
                <router-view></router-view>
            </v-scroll-x-transition>
        </v-main>

        <div style="position: absolute; width: 100%; bottom: 0%; z-index: 100;">
                <v-alert 
                    type="error"
                    :value="failed_to_login"
                    class="ma-6 ml-16" 
                    transition="slide-y-reverse-transition"
                    align-end>
                    Failed to connect to websocket... Redirecting back to Login page
                </v-alert>
            </div>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            failed_to_login: false,
            guild: {
                display_name: "Loading...",
                logo_url: null,
                acronym: "L...",
            },
            modules: null,
        }
    },
    mounted() {
        let parse_data = (logged_in) => {
            if(logged_in) {
                let item = window.localStorage.getItem("selected-guild");
                if(!item)
                    this.$router.push("/select");
                else {
                    item = JSON.parse(item);

                    this.guild = item;
                }


                let modules = [];
            
                item.modules.forEach(element => {
                    let module = this.supported_modules[element];
                    if(module) {
                        modules.push(module);
                    }
                })

                this.modules = modules;
            }
        }

        this.try_login(parse_data);
    },
    methods: {
        dashboard() {
            this.$router.push("/panel");
        },
        navigate_to_module(route) {
            this.$router.push(route);
        },
        go_back() {
            window.localStorage.removeItem("selected-guild");
            this.$router.push("/select");
        }
    },
    computed: {
        theme(){
            return (this.$vuetify.theme.dark) ? 'dark' : 'light'
        }
    }
}
</script>