<template>
    <v-col>
        <v-card 
            min-width="400px"
            flat
            color="primary"
            class="rounded-lg">
            <v-card-title>
                Managers
            </v-card-title>
            <v-card-text class="text-left">
                <v-list color="background" class="rounded-lg">
                    <v-list-item
                        v-for="(manager, index) in info.managers"
                        :key="index">
                        <v-list-item-avatar>
                            <v-img
                            :alt="`${manager.display_name} avatar`"
                            :src="manager.avatar_url"
                            ></v-img>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title v-text="manager.display_name"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card-text>
        </v-card>
    </v-col>
</template>

<script>
export default {

}
</script>

<style>

</style>